:root {
  --myBlue: rgba(3, 2, 32, 0.9);
  --myGlow: rgb(195, 214, 236);
  --myShadow: rgba(113, 255, 77, 0.6) -1px -1px 6px,
    rgba(124, 255, 124, 0.6) 1px 1px 6px;
}

body {
  background-color: var(--myBlue);
}

#container {
  height: 100vh;
  width: 100vw;
}

#title {
  height: 5%;
  width: 100%;
  position: absolute;
  font-size: xxx-large;
  font-weight: 800;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  justify-content: center;
  color: var(--myGlow);
  text-shadow: var(--myShadow);
}

#header {
  top: 10vh;
  height: 40%;
  width: 100%;
  position: absolute;

  display: flex;
  justify-content: space-evenly;
}

.basic-info {
  height: 100%;
  width: 30%;

  font-size: larger;
  font-weight: 800;
  color: var(--myGlow);
  text-shadow: var(--myShadow);

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#grades {
  box-sizing: border-box;
  overflow-y: scroll;
  /* font-size: medium; */
  align-items: center;
}

#xp {
  box-sizing: border-box;
  overflow-y: scroll;
  /* font-size: medium; */
  align-items: center;
}

h2 {
  text-align: center;
}

#grades > p {
  align-items: center;
}

#graphs {
  position: absolute;
  top: 60vh;
  width: 100%;
  height: 40%;
  border: 2px dashed black;
  display: flex;
  justify-content: space-evenly;
}

.dropdowns {
  height: 10%;
  width: 15%;
}

#label-container {
  position: absolute;
  top: 56vh;
  width: 100%;
  height: 3.5%;
  display: flex;
  justify-content: space-evenly;
}

.labels {
  color: var(--myGlow);
  text-shadow: var(--myShadow);
  font-weight: 900;
  font-size: x-large;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
